@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	background: #43C6AC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 600px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	font-family: "IM_Hyemin-Bold";
	font-size: 40px;
}

#title {
	font-size: 60px;
	background-color: #fff;
}

.title {
	margin-top: 20px;
	font-size: 45px;
	background-color: #F8FFAE;
}

body {
	text-align: center;
}

#user {
	margin-top: 10px;
	background-color: #fff;
}

input {
	border: 0;
	outline: 0;
	height: 44px;
	font-family: "IM_Hyemin-Bold";
	font-size: 20px;
	background-color: green;
	color: #fff;
	margin-top: 10px;
}

#input-name {
	width: 300px;
	height: 42px;
	background-color: #fff;
	color: black;
}

#monthly li {
	text-align: left;
	font-size: 25px;
	list-style: none;
	margin-top: 10px;
	margin-left: 100px;
	background-color: #fff;
}

#monthly-title {
	font-size: 60px;
	background-color: #fff;
}

.hidden {
	display: none;
}

#floatingLink {
	border-radius: 20px 40px 0px 80px;
	margin-left: 30px;
	position: fixed;
	width: 300px;
	height: 300px;
	top: 250px;
	background-color: #43C6AC;
	color: #fff;
}

#linkStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}

#addButton {
	background: #F8FFAE;
	font-size: 25px;
	font-family: "IM_Hyemin-Bold";
	border: none;
	width: 30px;
	border-radius: 4px;
	margin-bottom: 10px;
}

#addButton:hover {
	box-shadow:200px 0 0 0 rgba(0,0,0,0.3) inset;
}

#linkStack button {
	background: #fff;
	font-size: 25px;
	font-family: "IM_Hyemin-Bold";
	border: none;
	border-radius: 4px;
	margin-bottom: 10px;
}

#linkStack button:hover {
	box-shadow:200px 0 0 0 rgba(0,0,0,0.3) inset;
}

#floatingTodo {
	border-radius: 0px 80px 40px 80px;
	position: fixed;
	width: 350px;
	height: 500px;
    right: 30px;
	bottom: 30px;
	background-color: #F8FFAE;
}

